.footer-principal .copyright{
  width: 1920px;
  height: 144px;

  background: var(--black);
  display: flex;

  p{
    color: var(--white);
    margin: 0;
    font-size: 1.125rem;


    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 600px;




  }
}


